@{
    ViewBag.Title = "About Bright Yellow";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Bright Yellow is a hardware Webshop for Laptops and PC's. Here you can buy various types of hardware components for your systems like RAM cards, Hard Disks, Motherboards and Graphic Cards. </p>

<img src="~/images/hardware.png" title="Add to Cart" alt="" width="500" height="300" />

