@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Wijnhaven 107<br />
    3011 WN Rotterdam<br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:infobrightyellow@gmail.com">infobrightyellow@gmail.com</a><br />
</address>