@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}<div>
    <a href="@Url.Action("Index", "Home")" class="navbar-brand">
        <img src="Content/Images/logo.jpg" alt="Bright Yellow" width="300" height="300" >
    </a><br><br>