@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
@{
    if (HttpContext.Request.Method == "POST") {
        @RedirectToAction("Index");
    }
}
<div>
    <a href="@Url.Action("Index", "Home")" class="navbar-brand">
        <img src="Content/Images/logo.jpg" alt="Bright Yellow" width="300" height="300" >
    </a><br><br>
</div>
<div>
    <h3> Please enter your login credentials:</h3>
    <form action="Login" method="POST">
        Username:<br>
        <input type="text" name="username"><br><br>
        Password:<br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
</div>
