@model webshop2.Models.shoppingcart



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Return to index", "Index", "Shoppingcart")
    </div>
</body>
</html>
